@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
.calendar_holder {
  display: flex;
  flex-flow: column;
  align-items: center;
  /*font-family: "Poppins", serif;*/
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.calendar_holder h1 {
  font-weight: 800;
  margin: 1rem 0 0;
}

.calendar_holder ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  list-style: none;
}
.calendar_holder ul li {
  display: flex;
  width: 7rem;
  height: 7rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.calendar_holder ul li time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}
.calendar_holder ul .today {
  background: #ffffff70;
}
.calendar_holder ul .today time {
  font-weight: 800;
}