html {
min-height:100%;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  /*background:url(../images/body_bg.jpg) repeat-x #000;*/
  background:url(../images/body_bg1.jpg) repeat-x #000;
  background-attachment:fixed;
  margin:0;
  padding:0;
  font-weight:100;
  color:#0f0f0f;
 
}
a {
color:#015A78;
}
a:hover {
color:#fff;
}
input {
border:1px solid #ccc;
background:#ABABAB;
}
input:focus {
border:1px solid #23BDDF;
color:#23BDDF;
background:#000;
}
input.button {
background:#119CB9;
border:none;
color:#fff;
}
#container {
width:1032px;
margin:0 auto;
/*margin-top:0px;*/
margin-top:20px;
/*border-top:10px dashed #4d7676;
/*border-image:url("../images/castlelikes.png") 100 130 round;*/
padding-top:8px;
background: url("../images/castlelikesa.png") no-repeat scroll top ;
}
#website {
/*background: url(../images/website_bg.png) repeat-y;*/
padding-top:30px;
background-color:#4d7676;
min-height:400px;
float:left;
width:1032px;
float:left;
}
#header {
background:url(../images/header.jpg) no-repeat;
width:1006px;
height:261px;
float:left;
margin-left:13px;
}
#mod-header {
width:1006px;
height:261px;
float:left;
margin-left:13px;
}
#header-logo{
width:161px;
height:161px;
float:left;
text-align:left;
margin: 0px 0px 0px 15px;
padding: 0px 0px 0px 15px;
position:absolute;
/*margin-left:13px;*/
}
#header-logo div, #header-logo img {
display:inline;
position:absolute;
width:161px;
height:161px;
filter:alpha(opacity=81);
opacity:0.81;
}
#logo {
/*background:url(../images/logo.png) no-repeat;*/
width:293px;
height:78px;
float:left;
margin-left:350px;
margin-top:7px;
}
#top {
float:left;
width:750px;
margin-left:125px;
color:#ccc;
margin-top:10px;
}
#user3 {
background:url(../images/user3_bg.jpg) no-repeat;
width:1006px;
height:37px;
float:left;
margin-left:13px;
text-align:center;
}
.pill {
/*background-image:url(../../../images/button_hover.png);*/
background-repeat:repeat-x;
background:center;
/*margin-top:5px;*/
position:relative;
bottom:7px;
}
.pill_l{
background:url(../images/user3_left.png) right no-repeat;
width:11px;
height:27px;
}
.pill_r{
background:url(../images/user3_right.png) left no-repeat;
width:11px;
height:27px;
}
.pill_up_border{

	/*border-bottom:18px dotted #9f9f9f;*/
	
}
.pwdth{
width:11px;
}
#user3 ul {
margin:0;
padding:0;
list-style:none;
background:url(../images/user3.png) repeat-x;
/*background:url(../../../images/button_hover.png) repeat-x;*/
height:26px;
}
#user3 ul li {
display:inline;
}
#user3 li:first-child a {
background:none;
}
#user3 li a {
color:#2f4046;
line-height:27px;
padding-left:15px;
padding-right:15px;
text-decoration:none;
background:url(../images/user3_trenn.png) left no-repeat;
}
#user3 li a:hover, #user3 li#current a {
color:#fff;
}
#content , #below-main-content{
float:left;
margin-left:13px;
width:1006px;
border:0px solid #fff;
min-height:20px;
}
#below-main-content{
margin-left: 220px;
margin-right: 5px;
width:775px;
border: solid 0px #caf; 
padding-left:auto !important;
padding-right:auto !important;
display:block;
}

#left {
float:left;
width:194px;
margin-right:10px;
/*background:url(../images/left_top.jpg) no-repeat top left;*/
/*background-color:blue;*/
padding-top:25px;
padding-left:10px;
}
#left ul {
padding:0;
margin:0;
list-style:none;
}
#left li a{
background:url(../images/icon_grey.jpg) no-repeat left;
padding-left:25px;
color:#757373;
text-decoration:none;
margin-bottom:5px;
}
#left li a:hover, #left li#current a  {
background:url(../images/icon_blue.jpg) no-repeat left;
/*background-color:blue;*/
padding-left:25px;
}
#left h3, #right h3 {
color:#fff;
/*background:url(../images/icon_blue.jpg) no-repeat left;
/*background-color:blue;*/
padding-left:25px;
}
#left fieldset {border:none;}
#component_right {
float:left;
/*background:url(../images/component_bg.png) no-repeat center;*/
/*background-color:blue;*/
width:566px;
min-height:500px;
border:0px solid #ccc;
margin-top:10px;
font-size:11px;
text-align:justify;
border-left:1px solid #072026;
border-right:1px solid #072026;
padding:5px;
}
#component {
/*background-color:blue;*/
/*background:url(../images/component_bg.png) no-repeat center;*/
width:770px;
float:left;
margin-top:10px;
min-height:500px;
text-align:justify;
border-left:1px solid #072026;
border-right:1px solid #072026;
padding:5px;
}
.contentheading {
color:#015A78;
font-size:14px;
background:url(../images/icon_blue.jpg) no-repeat left;
/*background-color:blue;*/
padding-left:25px;
}
#right {
padding-top:25px;
float:left;
width:204px;
height:auto;
/*background:url(../images/right_top.jpg) no-repeat top right;
/*background-color:blue;*/
min-height:100px;
margin-left:10px;
}
#footer {
background:url(../images/footer_bg.jpg) no-repeat;
/*background-color:blue;*/
width:996px;
height:36px;
margin-top:10px;
/*float:left;/*EDITED*/
float:right;
margin-left:13px;
padding-top:3px;
padding-left:10px;
text-align:center;
}
#bottom {
background:url(../images/footer.png) no-repeat;
width:1032px;
height:49px;
float:left;
margin-left:3px;
}
.modified_links{
color: #0f0f0f !important; text-decoration: none !important;
}
a.modified_links{
color:#0f0f0f !important;
}
a:hover.modified_links{
color:#ffffff !important;
}
/*#menu {
border-top:8px dashed #929f93;
/*padding-bottom:8px;
display:block;
}*/
#menu ul ,#menu li,#menu{
/*color:#af1 !important;
background-image:url(../../../images/button_hover.png);
border-width:0px !important;*/
}


#menu a,#menu a:visited,#menu li.current,#menu li.active{
color:#000;
/*background-image:url(../../../images/button_hover.png);
background-repeat:repeat-x;*/
}


#menu a:link{
color:#000 !important;
/*background-image:url(../../../images/button_hover.png) !important;
background-repeat:repeat-x;*/
}

#menu a:hover{
color:#e9f0ea !important;
/*background-image:url(../../../images/button_link.png) !important;
background-repeat:repeat-x;*/
}

#menu a:active{
color:#7d5f5f !important;
/*background-image:url(../../../images/button_link.png) !important;
background-repeat:repeat-x;*/
}


.artiImage{
/*background-image:url("../images/lzobzor.png");*/
/*background-image:url("../../../images/logo%20za%20obzor-01.png");*/
display:block;
position:absolute;
float:left;
/*width:100%;*/
height:100%;
border-width:2px;
border-color:#1a2;
filter:alpha(opacity=21);
opacity:0.21;
}
.item-page{
	border-style: solid;
	border-color:#4f7f7f;
	border-width:2px;
}
.containerPlanetImage{
width:100%;
height:100%;
min-height:1000px;
display:inline-block;
background-attachment:fixed;
background-image:url("../images/halfEarthA.png");
background-repeat:no-repeat;
background-position:right bottom;
margin: 0px 0px 0px 0px;
/*width:1032px;*/
margin:0 auto;
/*margin-top:0px;*/

}
.containerPlanetImageI{
width:100px;
height:100px;
display:box;
right:0px;
top:940px;
/*min-height:650px;*/
position:static;
float:right !important;
/*clear:left;*/
/*background-attachment:fixed;*/
background-position:fixed;
background-image:url("../../../images/logo%20za%20obzor-01.png");
filter:alpha(opacity=21);
opacity:0.21;
}


#bottom-banner{
position:static;
}

#bottom-banner .banneritem{
float:none;
position:relative;
left:30px;
top:15px;
padding-top:15px;
margin-top:15%;
display:block;
margin-bottom:20px;
/*bottom:22px;*/
}
/*###################################STYLING FEATURED ARTICLES PREVIEW#############################################*/
.blog-featured .items-leading a,
.blog-featured .items-leading a:hover,
.blog-featured  .items-leading a:link,
.blog-featured  .items-leading a:active{
text-decoration:none;
color:#444; /*#cee*/
}
.blog-featured  .items-leading h2{
display:inline;
}
.blog-featured .items-leading .pull-left img,
.blog-featured  .items-leading div.item-image{
float:left;
max-width:200px;
/*max-height:150px; changed 26012016*/
margin-right:4px;
}

.blog-featured .items-leading div.item-image{
text-align:center;
padding:2px 1px 2px 1px;
background-color:#232221;
/*border: solid 5px #cca;*/
}

.blog-featured .items-leading > div{
display:block;
float:left;
width:100%;
/*border: 5px solid #cef;*/
background-color:#ddd;
/*max-height:300px; changed 26012016*/
margin:0px 0px 3px 0px !important;
border: #7aa solid;
border-width: 2px 1px 2px 1px;
padding: 1px 1px 1px 1px;
}

.blog-featured .items-leading .clearfix{
display:none;
}
.blog-featured .items-leading{

position:relative;
right:2px;

}
/*
#user3 ul:hover{
margin:0;
padding:0;
height:27px;
min-height:27px;
background-image:url(../../../images/button_link.png) !important;
}

#user3 li:link,#user3 li:visited, #user3 li:active,#user3 li{
margin:0;
padding:0;
height:100% !important;
min-height:27px;
background-image:url(../../../images/button_hover.png) !important;
}
*/
