
.login, .site-form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1em;
}

.login #login-form{
    border: 1px solid rgb(222,223,181,0.8);
    padding: 1.3em;
    border-radius: 0.3em;
    background-color: rgb(221,222,223,0.3);
}

.login input[type=submit], .site-form input[type=submit]{
    max-width: 10vw;
    text-align: center;
    font-family: Z003, serif;
    color: rgba(245, 157, 9, 0.94);
    text-shadow: 0.08em 0.05em 0.04em rgb(11,22,55,0.9);
    font-size:0.7em;
    padding: 0.1em 1.3em;

}

.login input[type=submit]:hover, .login input:focus, .site-form input[type=submit]:hover, .site-form input:focus{
    background-color: rgb(231,213,123,0.7);
    /*text-shadow: 0.08em 0.05em 0.09em rgba(235, 237, 241, 0.9);*/
    outline: none;
    border-color: #f79b0d;
    color:rgb(71,83,99,1);

}

.login input[type=submit]:hover,.site-form input[type=submit]:hover{
    color: rgba(245, 157, 9, 0.74);
}

.login input,.site-form input{
    background-color: rgb(231,213,123,0.4);
    border-radius: 10%/40%;
    color: #1f3f2f;
    padding: 0.6em;
}

.login #login-form label, .site-form #login-form label{
    font-size: 0.86em;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    /*background-color: rgba(208, 245, 239, 0.85) !important;*/
    border: 3px groove rgba(187, 228, 244, 0.42);
    background-color: rgba(238, 242, 242, 0.9);
}

.login{
    border: 3px groove rgba(187, 228, 244, 0.42);
    background-color: rgba(238, 242, 242, 0.54);
}

.register div, .register label, .login div, .login label{
    border-style:none;
    /*background-color: rgb(151,221,179,0.4) !important;*/
}

.spinner-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
    margin-bottom:20%;
    padding-top: 10%;
    padding-bottom: 30%;
}

.register input[disabled]{
    background-color: rgba(200,200,200,0.4);
    color: rgba(150,150,150,0.6);
    border: 1px solid rgba(180,180,180,0.4);
    cursor: not-allowed;
}