@charset "utf-8";
/* CSS Document */


#left .nav,
 #left .menu,
  #left .moduletable .nav,
   #left .nav ul,
    #left .nav li,
	#left .nav ol,
	#left .nav span,
    #left .nav a,
	 #left .nav h1,
	 #left .nav h,
	  #left .nav h2,
	   #left .nav h3,
	    #left .nav h4,
		 #left .nav h5,
		 #left .nav h6,
		  #left .nav h7,
		   #left .nav div

			 {

list-style-type:none !important;
text-decoration:none !important;
display:block;
position:relative;
z-index:999 !important;
font-size:12px;
color:#9a9a9a !important;
font-weight:bold;
text-shadow:-1px 0px 0px #000;
	}


#left .nav li{

background-image:url("../images/styles/marble/border-bottom-opaque.png"),url("../images/styles/marble/top-border-opaque.png");
background-position:bottom,top,top;
background-repeat:repeat-x,repeat-x;
background-color:#D8D8D8;
border-radius: 6px;
-moz-border-radius: 60px;
min-height:20px;
max-width:160px;
padding:8px 2px 8px 2px;
margin:3px;

	}

#left .nav a, #left .nav a:hover, #left .nav a:link,#left .nav a:visited{
	position:static;
	vertical-align:central;
	}

.contact .tab-pane{
	display:none;
	}
.contact .active{
	display:block !important;
	}
.contact .nav, .contact .nav-tabs{
	font-size:10px;
	}

.contact .nav .active, .contact .nav-tabs .active{
	font-weight:bold !important;
	font-size:12px;
}

label{
	position:relative;
	display:block;
	border-radius:26px;
	-webkit-border-radius:26px;
	z-index:99;
	}


/*############################*/


label{
	cursor: pointer;
}

label {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

label {
	display: block;
	margin-bottom: 5px;
}

form *, fieldset{

	overflow:visible !important;

}

form select, .chzn-container *{

	z-index:3;

}

form .control-label *, .control-group .control-label,fieldset.radio label{

	z-index:2;

}

#footer{

	font-size:12px;

}

#logo{

	background:rgba(227,250,250,0.3) url('../images/obzor%20logo.png');
	position:relative;
	bottom:8px;
	border-radius:20px 20px 70px 70px;
	box-shadow:0px 5px 2px rgba(142,142,182,0.1);


}

ul#menu li > ul{

	display:none;
	position:absolute;
	z-index:3;
	text-align:left;
	font-size:12pt;
	/*overflow:hidden;*/
	padding:0px !important;
	margin:0px;


}

ul#menu li ul  li{

	text-align:left;
	display:block;
	padding: 0px 0px 0px 0px !important;
	/*position:absolute;*/
	bottom:0px;

}

ul#menu li > ul {
	height: auto;
	border-radius:5px;
}

ul#menu li ul ul{
	position:absolute;
	/*margin-left:50%;*/
	left:100%;
	top:0px;
	min-width:100%;
	width:200px;
	max-width:300%;
	/*min-width:100%;*/
	display:none;
}

ul#menu li ul a{
	width:100% !important;
	height:100% !important;
	margin:0px;
	display:block;
}

/*ul#menu .deeper{

	background:url('../images/arrow-newest.png')right no-repeat 10px 10px;
	background-position:right;
	background-repeat:no-repeat;
	background-size:10px 10px;


}

ul#menu .deeper:hover{
	background-image:url('../images/arrow-newest-2.png');
	background-position:right;
	background-repeat:no-repeat;
	background-size:10px 10px;
}
*/

#website{
	padding: 0;
}

#footer{
	height: auto;
}

#container{
	width: 90vw;
	min-height: 85vh;
}

 #website, #bottom{
	width: 97%;
}

#container-top-border{
	background-image: url("../images/styles/marble/castlelike-singular.png");
	background-repeat: repeat-x;
	max-width: 87.3vw;
	min-width: 84%;
	background-position: left;
	background-size: 40px 30px;
}

#header, #user3, #content, #footer{
	width: 98%;
}

#header{
	background-size:cover;
}

#logo{
	left: 0;
	margin-left: 33vw;
	position: relative;
	max-width:20%;
	min-width:10%;
	max-height: 15vh;
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 4px 2px rgb(121,122,123,0.9));
}

#component_right{
	width: 60vw;
	margin-left: 0vw;
}

#user3{
	background: url("../images/styles/marble/user3_bg_trimmed.png") no-repeat, url("../images/styles/marble/user3_bg_single.png") -20px 0 repeat-x;

}

#header-main-wrapper, #header{
	min-height: 40vh;
	max-height: 60vh;
	height: fit-content;
}

#header{
	height: fit-content;
}

#header-main-wrapper{
	height: min-content;
}

body{
	min-width: 100vw;
}

#user3 li {

}

#user3 li a {
	background: none;
	color: rgba(123, 64, 5, 0.71);
	text-shadow: 0.06em 0.02em rgba(22, 32, 41, 0.81);
	font-size: 1.1em;
	transition: all 0.6s ease-in-out;
}

#user3 li a:hover{
	color: rgba(130, 68, 7, 0.5);
}

.dropdown-menu{
	display:none;
	position:absolute;
	z-index:8000;
	padding:0;
	margin:0;
	bottom:-22px;
	min-width:fit-content !important;
	background-color: rgb(11,111,112,0.35) !important;

}

.dropdown-menu li{
	min-width:fit-content !important;
	padding:0 !important;
	background-color: rgb(11,111,112,0.35);
}

.nav{
	font-family: oldCyrillic, fontawesomeregular, fontawesomesolid, fontawesomebrands, serif;
}

#user3 table{
	bottom:17px;
}

#component{
	border: none;
	max-height: 100%;
	min-height: 0px;
	margin: 0 27% 0 23% !important;
	display: inline-flex;
	text-align: center;
	flex-direction: column;
	width: 100%;
	max-width: 45vw;
	min-width: 20vw;
	padding-top: 5vh;
	border-radius:90%/10em 10em 0% 0%;
	top: -4vh;
}

#component .component-wrapper{
	background:none;
	display: flex;
	flex-direction: column;
	padding: 0;
	border: none;
}

#component .component-wrapper{
	/*display:block;*/
}

#component_right{
	/*margin-left: 10%;*/
	/*position: relative;*/
	width:100%;
}

.user-name{
	position: absolute;
	right: 3rem;
	bottom: 0;
	color: white;
	text-decoration: none;
	font-size: 1.7em;
	background-color: rgb(61,22,33,0.31);
	text-shadow: 0.05em 0.05em 0.04em rgb(11,11,12,0.8);
	border-radius: 30%/70%;
}


