.spinner-container {
    --spiner-size: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-collapse: collapse;
    height: auto; /* full viewport height */
    align-content: center;
    margin: 0 auto;
    width: var(--spiner-size);
}

.spinner-container > * {
    box-sizing: border-box;
    border-spacing: 0px;
    border-collapse: collapse;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    gap: 0;
    margin-top: 0;
}

.spinner-ring {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    min-width: 100%;
    height: auto;
}

/* both images fill the container */
.spinner-ring img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* bottom image: only the inner ring visible */
.spinner-base {

    mask-image: radial-gradient(circle,
    white 0 58%,
    transparent 0% 15%
    );
    -webkit-mask-image: radial-gradient(circle,
    white 0 58%,
    transparent 0% 15%
    );
}

/* top image: only the outer ring visible + spinning */
.spinner-outer {
    /* Mask: hide center, keep outer ring */
    mask-image: radial-gradient(circle,
    transparent 0% 58%,      /* transparent center */
    black 0 100%          /* visible ring */
    );
    -webkit-mask-image: radial-gradient(circle,
    transparent 0% 58%,
    black 0 100%
    );

    animation: spin 7s linear infinite;
    transform-origin: center center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
