{% load i18n %}
{% load static %}
{% load navigation_render %}

<!DOCTYPE html>
<html lang="bg-bg">
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% url 'dynamic-css' 'marble' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    {% include "common/external.html" %}
    {% block head_content %}
    {% endblock %}
    <script type="text/javascript" src="{% url 'dynamic-js' 'marble' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}" ></script>
</head>

<body>
{# here you can add planet image container if you'd like#}
<div id="container">
    <div id="container-top-border">

    </div>

    <div id="website">
        <div id="header-main-wrapper">
            <div id="header">
                <a href="{% url 'home-page' %}">
                    <div id="logo">

                    </div>
                </a>
                <div class="user-name">
                    {% if user.is_authenticated %}
                        <span>{% translate 'you are logged in as: '|capfirst %}{{ user.username|capfirst }}</span>
                    {% endif %}
                </div>
            </div>


            <div id="user3">
                <table cellpadding="00" cellspacing="00" class="pill" align="center"
                       style="padding:0px; margin:auto;  text-align:center; border-collapse:collapse;  border-spacing:0; border-style:none; border-width:0px;">
                    <tr>
                        <td class="pwdth">

                        </td>

                        <td class="pill_up_border">

                        </td>

                        <td class="pwdth">

                        </td>

                    </tr>

                    <tr>
                        <td class="pill_l">
                            &nbsp;
                        </td>

                        <td class="pill_m">
                            <div class="" id="use3">
                                {% nav_render 'navigation/nav.html' 'main-menu' user %}
                                {% block use3_content %}
                                	
                                {% endblock %}
                            </div>

                        </td>

                        <td class="pill_r">
                            &nbsp;
                        </td>

                    </tr>

                </table>

            </div>

        </div>

        <div id="content">
            <div id="style-around">
                <div id="style-around-column">
                    <div class="images-container-backgrounder">
                        <div class="images-container-backgrounder-row">
                            <div class="top-item-backgrounder">

                            </div>

                        </div>

                        <div class="images-container-backgrounder-row">
                            <div class="main-item-backgrounder main-item-backgrounder-left">

                            </div>

                        </div>

                        <div class="images-container-backgrounder-row">
                            <div class="bottom-item-backgrounder">

                            </div>

                        </div>

                    </div>

                </div>

                <div id="right-style">
                    <div class="images-container-backgrounder">
                        <div class="images-container-backgrounder-row">
                            <div class="top-item-backgrounder">

                            </div>

                        </div>

                        <div class="images-container-backgrounder-row">
                            <div class="main-item-backgrounder main-item-backgrounder-right">

                            </div>

                        </div>

                        <div class="images-container-backgrounder-row">
                            <div class="bottom-item-backgrounder">

                            </div>

                        </div>

                    </div>

                </div>

                <div id="left">

                </div>

                <div id="component_right">
                    <div class="" id="above-component">
                        {% if user.is_authenticated %}
                            <form action="/auth/logout/" id="logout-form" method="post" style="visibility: hidden;">{% csrf_token %}</form>
                        {% endif %} 
                        {% block over_main_content %}
                        	
                        {% endblock %}
                    </div>

                    <div id="component" class="no-component-background  disable-preview">
                        <div class="message-container  disable-preview">
                            {% block message_content %}
                                {% for message in messages %}
                                    <div>
                                	{{ message }}
                                    </div>
                                {% endfor %}
                            {% endblock %}
                        </div>

                        <div class="component-wrapper">
                            {% block main_content %}
                            	
                            {% endblock %}
                        </div>

                    </div>

                    <div class="" id="below-component">
                        {% block under_main_content %}
                        	
                        {% endblock %}
                    </div>

                </div>


            </div>

            <div id="footer">
                {% block footer_content %}
                	
                {% endblock %}
                  {% include 'common/copyright-message.html' %}

            </div>

        </div>

    </div>

    <div id="bottom">

    </div>

</div>

</tag|class=div|containerplanetimage>

</body>

</html>
