{% extends 'common/base.html' %}
{% load static %}

{% block head_content %}

	<link rel="stylesheet" href="{% static 'css/common/errors.css' %}">
    <script>
        setTimeout(() =>{
            
        const el = document.getElementById('error');
        el.focus();
            
        },1000);
    </script>

{% endblock %}

{% block message_content %}
    <div id="error">
        <div class="error-title">Error {{ code }}</div>
        <div class="error-body">{{ message }}</div>
    </div>
{% endblock %}