{% extends 'common/base.html' %}
{% load static %}


{% block head_content %}
    <script type="module" src="{% static 'js/orth_calendar/get_today.js' %}" ></script>
    <script type="module" src="{% static 'js/orth_calendar/calendar_fetchery.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/orth_calendar/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles/articles.css' %}">
{% endblock %}

{% block main_content %}
    {% include 'orth_calendar/calendar.html' %}
    {% include 'articles/render_articles_list.html' with articles=articles for_this_day=for_this_day %}
{% endblock %}

{% block under_main_content %}
{% endblock %}