
.single-article article{
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.single-article article{
    padding: 0.2em;
    background-color: rgb(251,239,218,0.4);
    border-radius: 14em 14em 7% 7%;
    text-shadow: 0.1em 0.1em 0.1em rgb(15, 81, 22, 0.7), 0 0.1em 0 rgb(121,12,22,0.58);
}

.single-article article figure{
    max-width: 40%;
    width: 40%;
    height: auto;
}

.single-article article figure img{
    width: 100%;
    border-radius: 40% 40% 7% 7%;
}

.single-article header{
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.single-article nav{
    font-family: fontawesomesolid, serif;
    font-size: 1.5em;
    z-index: 2000;
}

.single-article article{
    position: relative;
}

.single-article nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    top: 10vh;
    right: 2vw;
}

.single-article nav ul li{
    padding: 0 0.3em 0 0.2em;
}

.single-article nav a{
    text-decoration: none;
    color: inherit;
}