@media screen and (width < 1200px){
    .article-list article{
        min-width: 100%;
    }
}

@keyframes twinkle {
    0%, 100% { filter:
            drop-shadow(0.01em 0.01em 0.00em rgba(255, 223, 73, 0.96))
            drop-shadow(0.08em 0.08em 0.08em rgba(255, 223, 73, 0.84))
            drop-shadow(0.1em -0.1em 0.1em rgb(255, 223, 73,0.72))
            drop-shadow(-0.2em 0.2em 0.2em rgba(255, 223, 73, 0.60))
            brightness(0.72)
            contrast(428%);}
    50% { filter:
            drop-shadow(0.01em 0.01em 0.00em rgba(255, 223, 73, 0.96))
            drop-shadow(0.08em 0.08em 0.08em rgba(255, 223, 73, 0.84))
            drop-shadow(0.1em -0.1em 0.1em rgb(255, 223, 73,0.72))
            drop-shadow(-0.2em 0.2em 0.2em rgba(255, 223, 73, 0.60))
            brightness(0.72)
            contrast(288%);}
}

.article-list{
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 0.2em;
    align-items: flex-start;
    align-content: flex-start;
}


.article-list article{
    max-width:49%;
    min-width: 49%;
    display: flex;
    background-color: rgb(221,191,241,0.6);
    border-radius: 3%/5%;
    box-shadow: 0.1em 0.1em 0.11em rgb(25,24,52,0.8);
    color: rgba(204, 125, 3, 0.97);
    min-height: 245px;
    cursor: pointer;
}

.article-list article figure{
    max-width: 40%;
    height: auto;
    text-overflow: fade;
    margin: 0.5em 0 1em 0.5em;
}

.article-list article img{
    width: 100%;
    height: auto;
    box-shadow: 0.1em 0.1em 0.08em rgba(5, 42, 101, 0.7);
    outline: rgba(248, 204, 6, 0.62) solid 0.02em;
}

.article-list article main{
    text-align: left;
}

.article-list article main > *{
    margin: 0 0 0.2em 0.2em;
}

.article-list article main p{
    font-size: 0.8em;
}

.article-list article main h2{
    margin: 0 0.3em 0.2em 0.2em;
}

.article-list a{
    text-decoration: none;
    color: inherit;
    display:inline;
    padding: 0 !important;
    margin: 0 !important;
}

.new-article-tile .new-article-sign{
    font-size: 8em;
    padding: 0 0.1em;
    margin: 0;
    display: inline;
    line-height: 0.4em;
}

.new-article-tile{
    background-color: rgb(28,108,32,0.4) !important;
}

.new-article-tile:hover{
    background-color: rgb(28,108,32,0.7) !important;
    cursor: pointer;
}

.article-list nav{
    font-family: fontawesomesolid, serif;
    font-size: 0.5em;
    z-index: 2000;
}

.article-list article{
    position: relative;
}

.article-list nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.article-list nav ul li{
    padding: 0 0.3em 0 0.2em;
}

.empty-article-tile{
    background-color:transparent !important;
    border: 5px rgba(242, 233, 216, 0.4) ridge;
    box-shadow: none !important;
}

.empty-article-tile main{
    position: relative;
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    padding-top: 20%;
    padding-left: 10%;
    color: rgb(233,233,233,0.4);
    text-shadow: rgb(133,133,133,0.9) 0.02em 0.03em 0.1em;
    font-size: 1.8em;
}

.article-tile footer{
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
    font-size: 0.5em;
    /*color: rgb(50,50,50,0.8);*/
    color: rgba(204, 125, 3, 0.47);
    cursor: pointer;
    width: 100%;
}

.article-tile footer .author{
    text-align:left;
    position: absolute;
    left: 0.2em;
    bottom: 0.2em;
}

.single-article footer .author{
    text-align:left;
    position: absolute;
    left: 0.2em;
    bottom: 0.2em;
}

.single-article footer{
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
    font-size: 0.7em;
    /*color: rgb(50,50,50,0.8);*/
    color: rgba(204, 125, 3, 0.47);
    cursor: pointer;
    width: 100%;
}

.article-tile footer .likes-count{
    right: 1rem;
    position: absolute;
    text-align: right;
    bottom: 0.2rem;
}

.single-article footer .likes-count{
    right: 1rem;
    position: absolute;
    text-align: right;
    bottom: 0.2rem;
}

header .like-star{
    /*display:none;*/
    /*color: rgb(121,221,21,0.6) !important;*/
    /*fill-color: rgba(246, 172, 26, 0.55);*/
    width: 2.9rem;
    position: absolute;
    filter:
        drop-shadow(0.01em 0.01em 0.1em rgba(17, 17, 15, 0.96))
        drop-shadow(0.08em 0.08em 0.08em rgba(239, 199, 130, 0.84))
        drop-shadow(0.1em -0.1em 0.1em rgba(229, 209, 175, 0.72))
        drop-shadow(0.2em 0.2em 0.2em rgba(239, 233, 196, 0.6));
    right: -1.1rem;
    top: 0.3rem;
    color: rgba(191, 187, 182, 0.91);
}

.single-article header .like-star{
    width: 2.9rem;
    height: auto;
    right: 1.4rem;
    top: 0.8rem;
}

header .like-star.liked{
    color: rgb(255, 215, 0, 0.98);
    filter:
        drop-shadow(0.01em 0.01em 0.00em rgba(255, 223, 73, 0.96))
        drop-shadow(0.08em 0.08em 0.08em rgba(255, 223, 73, 0.84))
        drop-shadow(0.1em -0.1em 0.1em rgb(255, 223, 73,0.72))
        drop-shadow(-0.2em 0.2em 0.2em rgba(255, 223, 73, 0.60))
        brightness(0.72)
        contrast(428%);
    animation:  twinkle 3s linear infinite;

}